* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  
  min-height: 100vh;
  background: hsl(212, 45%, 89%);
  
  font-family: "Outfit", sans-serif;
  text-align: center;
  letter-spacing: 0.15px;
}

#card {
  max-width: 20rem;
  background: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 5%);
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 1.4rem;
  color: hsl(218, 44%, 22%);
  margin: 1em 0.5em 1em;
}

p {
  font-size: 1rem;
  color: hsl(220, 15%, 55%);
  margin: 0em 0.75em 1em;
}
